@font-face {
    font-family: "youngserif";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
    font-family: "outfit-variablefont";
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
/* Body stylings */
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    font-family: "outfit-variablefont", sans-serif;
    line-height: 2;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: hsl(30, 10%, 34%);
    background-color: hsl(30, 54%, 90%);
}


/* Main container stylings */
main {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: Start;
    padding: 3rem;
    margin:  8rem 0;
    border-radius: 1rem;
}


/* Unique title font */
.section-title, #hero-title {
    font-family: "youngserif";
    font-weight: 300;
    color: black;
}

/* Unique title, list-style and nutrition numbers color */
.section-title, li::marker, .nutrition-table-item {
    color: hsl(14, 45%, 36%);
}

/* Section stylings  */
section {
    width: 100%;
    height: auto;
    padding: 2rem 0rem;
}

#section-ingredients, #section-instructions {
    border-bottom: 1px solid hsl(30, 10%, 34%, 25%);
}

.section-title {
    font-size: 32px;
}


/* List stylings */
.list {
    list-style-position: outside;
    padding: 0 1.5rem;
}
.list-item {
   padding-left: 2rem;
}

li::marker {
    font-weight: bold;
}


/* Hero section stylings */
#hero-title {
    font-size: 46px;
}

#image-hero {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

#section-hero {
    padding: 0 0 2rem 0;
}

/* Preparation time section */
#section-preparation {
    padding: 2rem;
    background-color: hsl(330, 100%, 98%);
    border-radius: 1rem;
}

#preparation-list-title {
    font-weight: 500;
    font-size: 20px;
    color: hsl(332, 51%, 32%);
}


/* Nutrition stylings */
.nutrition-table {
    table-layout: fixed;
    width: 100%;
    padding: 2rem 0rem;
    line-height: 3;
}

td, th {
    border-bottom: 1px solid black;
}

#section-nutrition {
    padding-bottom: 0;
}

.nutrition-bottom-item {
    border: none;
}

/* Footer stylings */
#section-footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
}


/* Styling adjustments to fit the page to devices with a screen width below 1280px */
@media screen and (max-width: 1280px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        margin: 10px;
    }
}


/* Styling adjustments to fit the page to devices with a screen width below 980px */
@media screen and (max-width: 980px) {
    main {
        padding: 0;
    }

    #hero-title {
        font-size: 36px;
    }

    section {
        padding: 2rem;
    }

    #image-hero {
        border-radius: 0;
    }

    #container-hero-description {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    footer {
        display: none;
    }
}
